.breed-container {
    display: flex;
    height: 200px;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.breed-container:hover {
    transform: scale(1.01);
}

.image{
    float: none;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 80%;
}

.text{
    font-size: 20px;
}