.movies-page {
    padding: 25px;
}

.movies-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-input {
    font-size: 16px;
    background: #eae9e9;
    border: none;
    margin-left: 5px;
}

.movies-table {
    color: #322d2d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}
